.hl{
    width: 1350px;
    height: 50px;
    margin: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.dad{
    width: 1350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main{
    width: 1300px;
    height: 500px;
    border: 0px solid rgb(165, 17, 17);
    display: flex;
    justify-content: center;
    align-items: center;

}
.s1{
    width: 630px;
    height: 480px;
    margin-right: 5px;
    border: 0px solid rgb(18, 109, 6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.s2{
    width: 630px;
    height: 480px;
    margin-left: 5px;
    border: 0px solid rgb(18, 109, 6);
}
div form label{
        margin-left: 20px;
        width: 100px;
        text-align: left;
}
div form input{
    width: 383px;
    align-items: right;
    text-align: center; 
}
#btn{
    width: 200px;
    height: 20px;
    margin-left: 180px;
    background-color: rgb(233, 219, 19);
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn:hover{
    transform: scale(1.1);
    background-color: rgb(8, 163, 29);
    color: rgb(253, 252, 252);
}