*{
    margin:  0;
    padding: 0;
}
#one ul{
    list-style: none;
   width: 100%;
    position: fixed;
    z-index: 20;
}
#one ul li{
    background-color: #049e9e;
    /* border: 1px  solid black; */
    width: 20%;
    height: 50px;
    text-align: center;
    line-height: 35px;
    float: left;
    position: relative;
}
#one ul li a{
    margin: 0px;
    padding: 0px;
    background-color: #049e9e;
    text-decoration: none;
    text-align: none;
    font-size: 20px;
    color: rgb(253, 247, 247);
    display: block;
}
#one ul ul{
    position: absolute;
     display: none; 
}
#one ul li:hover{
    background-color: rgb(4, 145, 145);
}
#one ul :hover{
    color: rgb(2, 2, 2);
    font-size: 25px;
}
#one ul li:hover ul{
    display: block;
}
