#mental{
    width: 1320px;
    height:700px;
    margin-left: 7.5%;
    margin-top: 1%;
    overflow: hidden;
    /* z-index: -1000; */
}
#core{
    position: relative;
    width: 500%;
    animation : slideside 25s infinite;
    z-index: 10;
}
#core img{
    border-radius: 20px;
    overflow: hidden;
    float: left;
}
@keyframes slideside{
    0% {
        left: 0px;
    }
    16%{
        left: 0px;
    }
    20%{
        left: -100%;
    }
    36%{
        left: -100%;
    }
    40%{
        left: -200%;
    }
    56%{
        left: -200%;
    }
    60%{
        left: -300%;
    }
    76%{
        left: -300%;
    }
    80%{
        left: -400%;
    }
    96%{
        left: -400%;
    }
    100%{
        left: 0;
    }
    
}
